
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        Lista Pessoas : @Html.ActionLink("Lista Pessoas", "List") <br />
        Novo Pessoas : @Html.ActionLink("Criar Pessoas", "Create")
    </div>
</body>
</html>
